.maclasse{font-size: 3.5em; font-family: Montserrat; color: #A5B4FC; }
.Dalya{font-size: 1.1em; font-family: Manrope;color: black; }
h1{font-style: italic}
.Youssouf{font-size: 1em; font-family: Manrope; color: black;}
.Gouvernement{font-size: 1em; font-family: Manrope; color: black; text-decoration: none;}
a{border-radius: 50px;background-color: aqua; }
div{border-right: 1px solid#8e86b5;border-bottom: 1px solid#8e86b5;}
