.mabordure{border: solid 3px red; border-top: 3px red double;
  border-right: 3px;
    padding: 30px;
    background-color: green;
    border: solid red;
    border-top: 3px red double;
    border-right: 35px pink;
    border-bottom: 25px; color: gold;
    border-left: 5px; color: chartreuse;
    border-radius: 10px 10px 10px;
  color:blue;
}
P {
    color: red;
}
li{color: blueviolet;

} 
.Formationnumérique{color: brown;

}







