.mabordure{border: solid 3px red; border-top: 3px red double;
  border-right: 3px;
    padding: 30px;
    background-color: green;
    border: solid red;
    border-top: 3px red double;
    border-right: 35px pink;
    border-bottom: 25px; color: gold;
    border-left: 5px; color: chartreuse;
    border-radius: 10px 10px 10px;
  color:blue;
}
P {
    color: red;
}
li{color: blueviolet;

} 
.Formationnumérique{color: brown;

}
img{
  
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(0, 0, 0);
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}
html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
  border: 1px solid black;
}

tfoot th {
  text-align: right;
}
thead,
tfoot {
  background: url(leopardskin.jpg);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  );
  border: 3px solid rgb(100, 182, 167);
}
tbody tr:nth-child(odd) {
  background-color: #b1d8e6;
}

tbody tr:nth-child(even) {
  background-color: #b1d8e6;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: #00eff3;
}
caption {
  font-family: "Rock Salt", cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #582828;
  text-align: right;
  letter-spacing: 1px;
}








