h1{
  color:blue
}
P {
    color: red;
}
li{color: blueviolet;

} 
.Formationnumérique{color: brown;

}
.maclasse{font-size: 3.5em; font-family: Montserrat; color: #A5B4FC; }
.Dalya{font-size: 1.1em; font-family: Manrope;color: black; }
h1{font-style: italic}
.Youssouf{font-size: 1em; font-family: Manrope; color: black;}
.Gouvernement{font-size: 1em; font-family: Manrope; color: black; text-decoration: none;}






